@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-brand-blue: #0f4c81; /* Classic Blue */
  --color-brand-light: #f0f4f8;
}

body {
  font-family: var(--font-sans);
  background-color: #ffffff;
  color: #1e293b;
  -webkit-font-smoothing: antialiased;
}
